@media (max-width: 600px) {
  main {
    display: block;
    height: 600px;
    width: 345px;
  }
  main .left-content {
    width: 100%;
    height: 240px;
    background-image: url(../images/image-product-mobile.jpg);
    border-radius: 0.5em 0.5em 0 0;
  }
  main .right-content {
    padding: 25px;
    width: 100%;
  }
  main .right-content h1 {
    margin: 10px 0 15px 0;
    font-size: 2em; 
    
  }
  main .right-content .product-description {
    font-size: 14px;
  }
  main .right-content .price {
    margin: 15px 0 10px 0;
  }
  main button {
    width: 100%!important;
  }
}